<div class="row">
  <div class="col-xs-7 col-sm-7 col-md-7">
    <ds-widget-clock data-show-digital digital-format="'EEEE dd MMM yyyy'">></ds-widget-clock>

    <div class="row">
      <div ng-controller="EphemerisCtrl" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-4 col-sm-4 col-md-4 ephemeris">{{todayEphemeris}}</div>
    </div>
  </div>

  <div class="weatherDiv col-xs-offset-2 col-sm-2 col-md-offset-2 col-xs-3 col-sm-3 col-md-3">
    <todays-weather
      location="Lille, FR"
      custom-size="90"
      use-google-images="true">
    </todays-weather>

    <weather-forecast
      location="Lille, FR"
      custom-size="70"
      use-google-images="true">
    </weather-forecast>
  </div>
</div>


<footer class="col-sm-offset-10 col-xs-offset-10 col-md-offset-10">
    <ds-widget-clock data-show-digital digital-format="'HH:mm'">></ds-widget-clock>
</footer>
